# ================================
# NODE MODULES
# ================================
node_modules/

# ================================
# ENVIRONMENT VARIABLES
# ================================
.env

# ================================
# GOOGLE & FIREBASE CREDENTIALS
# ================================
serviceAccount.json
token.json
credentials.json

# ================================
# LOG FILES
# ================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ================================
# OS FILES
# ================================
.DS_Store
Thumbs.db

# ================================
# TEMP FILES
# ================================
*.tmp
*.temp